body {
    margin: 0%;
    padding: 0%;
    height: 100%;
    font-family: Inter;
    overflow: auto;
}

header {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    background: linear-gradient(270deg, #039B11 0%, #7479FF 100%);
    box-shadow: -2px 0px 4px 0px rgba(0, 0, 0, 0.50);
}

#LogoBox1{
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#LogoBox2{
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: end;
}

.box1{
    display: flex;
    flex-direction: row;
    width: 31vw;
    height: 13vh;
    flex-shrink: 0;
    border-radius: 25px;
    background: rgba(53, 163, 210, 0.67);
    margin-left: 5%;
}

.box2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 15vw;
    height: 13vh;
    flex-shrink: 0;
    border-radius: 25px;
    background: #ffffff;
}

.box3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 15vw;
    height: 13vh;
    flex-shrink: 0;
    border-radius: 25px;
    margin-left: 1%;
}

.schoolname{
    color: var(--Orange, #FCA304);
    font-family: Inter;
    font-size: 140%;
    font-style: normal;
    font-weight: 800;
    line-height: 90%;
}

h5{
    padding: 0%;
    margin: 0%;
}

#logoHeader{
    margin-right: 10px;
    height: auto;
    width: 5vw;
}

#EMS{
    margin: 0%;
    padding: 0%;
    color: #FFF;
    font-family: Inter;
    font-size: calc(18px + 1vw);
    font-style: normal;
    font-weight: 800;
    line-height: 100%; /* 64px */
    letter-spacing: 1.28px;
}

a{
    text-decoration: none;
}

h4{
    color: #FFF;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    }

.loginButton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    height: 8vh;
    flex-shrink: 0;
    border-radius: 30px;
    background: #B2C148;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.box4{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 15vw;
    height: 13vh;
    flex-shrink: 0;
    border-radius: 25px;
    margin-right: 5%;
}

.content{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;  /*Adjust this later*/
    background-color: #F2F2F2;
}

.ImageFiller{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 500px;
}

.ImageFiller img{
    margin-left: 20%;
    width: auto;
    height: 500px;
}

.OptionsBox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 500px;
}

.Options{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    justify-content: center;
    width: 430px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.boxes{
    width: auto;
    height: auto;
    padding: 0%;
}

.boxes h2{
    margin-top: 2%;
}

.boxes p{
    margin-top: 20px;
    color: #4C2BD0;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.custom-button {
    background-color: #4CAF50;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-style: italic;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 8px;
    width: 70%;
    cursor: pointer;
    border-radius: 15px;
    background: var(--Yellow, #FAE316);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.custom-button:hover {
    background-color: #e4be18;
}

footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 84px;
    justify-content: center;
    background-color: var(--Gray, #54514F);
}

.FooterBox{
    width: 440px;
    height: 100%;
    align-content: center;
}

.FooterBox p{
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    line-height: 6px;
}

.boxFoot{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.socmed{
    width: 100%;
    height: 100%;
    display: flex; 
    align-items: center; 
    justify-content: space-around; 
}

.socmed img{
    height: auto;
    width: 30px;
}
